body{
    padding-bottom: 100px;
}

.bg_orange{
    background-color: #EC936B;
}

.login_title{
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin: 40px 0;
}

.login_input{
    background-color: rgba(255,255,255,.3);
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 102px;
    line-height: 102px;
    color: #fff;
    font-size: 36px;
    padding: 0 20px;
    box-sizing: border-box;
}

.login_item input::-webkit-input-placeholder{
    color: #fff;
}

.login_item{
    margin: 0 55px 30px;
}

.login_btn{
    font-size: 36px;
    color: #fff;
    background-color: #FDBE3B;
    line-height: 102px;
    text-align: center;
    width: 300px;
}

.login_btn_box{
    margin: 80px 55px 30px;
}

.sale_l{
    float: left;
}

.sale_r{
    float: right;
}

.sale_top_nav_l{
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 15px;
    line-height: 1;
    margin-top: 15px;
}

.login_other_oper{
    color: #fff;
    font-size: 36px;
    text-decoration: underline;
}

.test_get_code{
    float: right;
    width: 166px;
    background-color: #FDBE3B;
    color: #fff;
    font-size: 30px;
    line-height: 102px;
    text-align: center;
}

.mr188{
    margin-right: 188px;
}

.register_btn{
    margin: 10px 55px;
    background-color: #FDBE3B;
    color: #fff;
    font-size: 36px;
    line-height: 102px;
    text-align: center;
}

.sale_top_nav{
    height: 90px;
    color: #fff;
    font-size: 48px;
    line-height: 90px;
    text-align: center;
}

.ml15{
    margin-left: 15px;
}

.mr15{
    margin-right: 15px;
}

.sale_list li{
    margin: 20px 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

.product_img{
    width: 160px;
    height: 152px;
    float: left;
    position: relative;
}

.product_info{
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.product_info p:nth-child(1){
    font-size: 36px;
    color: #CA5430;
}

.product_info_stock{
    font-size: 30px;
    margin-top: 30px;
}

.mt50{
    margin-top: 50px;
}

.mt5{
    margin-top: 5px;
}

.product_out_of{
    position: absolute;
    left: 0;
    top:0;
    height: 30px;
    width: 70px;
    color: #fff;
    font-size: 28px;
    text-align: center;
}

.product_out_of_color{
    color: #e61010;
}

.footer{
    padding: 0;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 105px;
    line-height: 105px;
    font-size: 36px;
    color: #333333;
    text-align: center;
    background-color: #F5F5F5;
    border-top:2px solid #FED379;
}

.footer_nav{
    flex: 1;
    border-right:2px solid #FED379;
}

.footer_nav_last{
    flex: 1;
}

.footer_nav_hover{
    background-color: #FFFFFF;
    color: #DA9476;
}

.product_info_container{
    margin-top: 30px;
}

.product_info_container ul{
    padding: 0 30px;
}

.product_info_container ul li{
    float: left;
    margin: 5px;
    width: 220px;
    height: 220px;
    position: relative;
}

.product_info_name{
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin: 30px 40px 20px;
    height: 38px;
}

.product_info_price{
    margin: 0 40px 20px;
    color: #9B9B9B;
    border-bottom: 4px solid #e3e3e3;
    padding-bottom:30px;
}

.product_info_share{
    float: right;
    color: #fff;
    font-size: 32px;
    width: 184px;
    height: 71px;
    text-align: center;
    line-height: 71px;
    background-color: #FDBE3B;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.mt20{
    margin-top: 20px;
}

.product_info_totle{
    margin-right: 190px;
    font-size: 36px;
    height: 38px;
}


.ml40{
    margin-left: 40px;
}

.color0{
    color: #000000;
}

.color_orange{
    color: #CA5430;
}

.fs36{
   font-size: 36px;
}

.product_info_introduce{
    margin: 20px 40px;
    color: #9B9B9B;
    font-size: 30px;
    padding-bottom: 100px;
    line-height: 42px;
}

.del_product_img{
    position: absolute;
    top:85px;
    left: 85px;
}

.add_product_img{
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.add_product_img img{
    margin: 60px 0 20px 85px;

}

.add_product_img p{
    color: #D15829;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.edit_product_item{
    margin: 30px 40px;
}

.edit_product_input{
    border: 2px solid #C4C4C4;
    border-radius: 15px;
    height: 85px;
    font-size: 36px;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.height200{
    height: 200px;
}

.edit_btn_container{
    display: -webkit-box;
    display: flex;
}

.sale_cancel_btn{
    color: #fff;
    font-size: 32px;
    width: 300px;
    height: 81px;
    line-height: 81px;
    text-align: center;
    background-color: #FDBE3B;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    border-radius: 5px;
}

.sale_confirm_btn{
    color: #fff;
    font-size: 32px;
    width: 300px;
    height: 81px;
    line-height: 81px;
    text-align: center;
    background-color: #009900;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    border-radius: 5px;
}

.factor_top{
/*
    height: 264px;
*/
    color: #fff;
    font-size: 32px;
    padding: 30px 40px;
    box-sizing: border-box;
    margin-top: -1px;
}

.factor_top_left{
    float: left;
    width: 160px;
}

.factor_top_left img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 22px;
}

.factor_top_right{
    float: right;text-align: right;border-left: 1px solid #E3E3E3;padding-left: 20px;
}

.factor_top_right p:nth-child(1){
    margin-top: 22px;
}

.factor_top_right p:nth-child(2){
    font-size: 48px;color: #FDBE3B;margin: 10px 0;
}

.factor_top_right .btn{
    width: 165px;height: 70px;text-align: center;line-height: 70px;background-color: #FDBE3B;border-radius: 5px;box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.factor_top_center{
    margin-left: 180px;margin-right: 190px;
}

.factor_top_center p{
    margin-top: 25px;
}

.factor_list li{
    padding: 0 40px;
    border-bottom: 2px solid #E3E3E3;
    height: 106px;
    line-height: 106px;
    font-size: 32px;
    color: #6F6F6F;
}

.factor_list li img{
    margin-top: 28px;
}

.factor_list li .tip{
    font-size: 20px;color: #999;line-height: 1px;margin-top: -18px;
}

.forget_pwd_box{
    margin: 40px;
}

.forget_pwd_title{
    color: #CA5430;
    font-size: 32px;
    float: left;
    line-height: 65px;
}

.forget_pwd_code{
    color: #fff;
    font-size: 32px;
    float: right;
    width: 200px;
    height: 65px;
    line-height: 65px;
    background-color: #FDBE3B;
    text-align: center;
    border-radius: 5px;
}

.forget_pwd_input{
    margin-left: 128px;
    margin-right: 220px;
}

.forget_pwd_input input{
    border: 2px solid #CCCCCC;
    height: 65px;
    border-radius: 10px;
    width: 100%;
    font-size: 32px;
}

.big_green_btn{
    margin-left: 40px;
    margin-right: 40px;
    height: 88px;
    border-radius: 5px;
    color: #fff;
    line-height: 88px;
    text-align: center;
    font-size: 36px;
    background-color: #259F25;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.product_info_box{
    margin-left: 20px;
    margin-top: 25px;
    float: left;
}

.order_status{
    border-bottom: 1px solid #D15829;color: #D15829;font-size: 36px;line-height: 94px;text-align: center;position: relative;
}

.order_status img{
    position: absolute;left: 40px;top: 35px;
}

.order_select_menu{
    position: absolute;
    width: 100%;
    display: none;
    background-color: #fff;
}

.order_select_menu li{
    border-bottom: 1px solid #D15829;color: #D15829;font-size: 36px;line-height: 94px;text-align: center;cursor: pointer;
}

.order_select_menu li:hover{
    border-bottom: 1px solid #D15829;color: #fff;font-size: 36px;line-height: 94px;text-align: center;cursor: pointer;background-color: #D15829;
}

.order_list li{
    border-bottom: 1px solid #C4C4C4;padding: 30px 20px 20px 40px;box-sizing: border-box;
}

.order_list li h1{
    font-size: 36px;
    font-weight: bold;
    color: #CA5430;
}

.order_list li p{
    font-size: 24px;color: #6F6F6F;margin-top: 20px;
}

.order_list li img{
    margin-top: 28px;margin-left: 30px;
}

.order_list_status{
    font-size: 32px;
    width: 122px;
    height: 45px;
    border-radius: 5px;
    line-height: 45px;
    margin-top: 35px;
    text-align: center;
}

.status_red{
    color: #FF0000;
    border: 1px solid #FF0000;
}

.status_green{
    color: #009900;
    border: 1px solid #009900;
}

.status_orange{
    color: #FDBE3B;
    border: 1px solid #FDBE3B;
}

.tr{
    text-align: right;
}

.order_item_box{
    border-bottom: 1px solid #C4C4C4;box-sizing: border-box;padding: 0 40px;
}

.order_number{
    font-size: 36px;font-weight: bold;color: #D15829;line-height: 94px;
}

.order_info_status{
    margin-top: 15px;font-size: 32px;height: 63px;width: 122px;border-radius: 5px;float: right;line-height: 63px;text-align: center;
}

.fs24{
    font-size: 24px;
    color: #6F6F6F;
}

.mb30{
    margin-bottom: 30px;
}

.order_list_info_P{
    color:#6F6F6F;
    font-size: 36px;
    margin-top: 30px;
}

.wuliu_select{
    border: 1px solid #797979;width: 330px;height: 70px;color: #6e6e6e;font-size: 36px;line-height: 70px;
}

.express_number_input{
    border: 1px solid #797979;font-size: 36px;color: #6F6F6F;border-radius: 5px;width: 100%;line-height: 70px;box-sizing: border-box;padding-left: 10px;
}

.contact_box{
    padding: 30px 40px;font-size: 36px;color: #6f6f6f;
}

.weixin_img{
    border: 1px solid #259F25;width: 195px;height: 126px;text-align: center;line-height: 126px;border-radius: 15px;
}

.confirm_send{
    text-align: center;margin: 30px 40px 110px;background-color: #FDBE3B;font-size: 32px;line-height: 88px;border-radius: 5px;color: #fff;
}

.search_express_info_btn{
    line-height: 71px;float: right;width: 195px;text-align: center;color: #fff;border-radius: 5px;font-size: 32px;background-color: #FDBE3B;
}

.mt15{
    margin-top: 15px;
}

.express_class{
    margin-right: 215px;margin-left: 180px;
}

.express_class input{
    width: 100%;line-height: 69px;border-radius: 5px;border: 1px solid #797979;font-size: 36px;color: #6F6F6F;padding: 0 10px;box-sizing: border-box;
}

.ml180{
    margin-left: 180px;
}

.green_btn{
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);;float: left;width: 319px;line-height: 88px;background-color: #259F25;color: #fff;border-radius: 5px;text-align: center;
}

.orange_btn{
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);;float: right;width: 319px;line-height: 88px;background-color: #FDBE3B;color: #fff;border-radius: 5px;text-align: center;
}

.display_flex{
    display: flex;
    display: -webkit-box;
}

.color_red{
    color: #FF0000;
}

.mask{
    position: fixed;background-color: rgba(0,0,0,.5);top:0;left: 0;right: 0;bottom: 0;display: none;
}

.mask_container{
    text-align: center;margin: auto;right: 0;left: 0;top:30%;position: absolute;overflow: hidden;border:1px solid #797979;width: 516px;border-radius: 10px;background-color: #FFFFFF;color: #333;font-size: 36px;display: none;
}

.mask_agree_info{
    margin: 40px 40px 70px;line-height: 48px;
}

.mask_bottom{
    width: 100%;border-top:1px solid #797979;display: flex;text-align: center;
}

.mask_confirm{
    flex: 1;font-size: 32px;line-height: 95px;border-right: 1px solid #797979;
}

.mask_cancel{
    flex: 1;font-size: 32px;line-height: 95px;
}

.not_agree_reason{
    width: 460px;height: 170px;color: #333;font-size: 36px;padding: 10px;box-sizing: border-box;border: 1px solid #797979;margin: 20px auto;border-radius: 15px;
}

.width180{
    width: 180px;
}

.tc{
    text-align: center;
}

.agent_info_content_item{
    width: 100%;display: flex;margin-top: 40px;
}

.agent_info_content_item div{
    flex: 1;font-size: 36px;color: #CA5430;text-align: center;
}

.agent_info_content_row{
    display: flex;padding: 30px 40px 0;
}

.agent_info_content_row div{
    flex: 1;font-size: 30px;color: #6F6F6F;
}

.gray_line{
   height: 2px;background-color: #C4C4C4;box-sizing: border-box;margin: 30px 40px 0;
}

.agent_info_oper{
    display: flex;padding: 40px;box-sizing: border-box;line-height: 51px;
}

.agent_info_oper div{
    font-size: 36px;color: #CA5430;flex: 1;
}

.my_agent_list li{
    margin: 0 40px;
    padding: 20px 0;
    border-bottom: 1px solid #9B9B9B;
}

.my_agent_head_img{
    width: 120px;height: 120px;border-radius: 50%;overflow: hidden;float: left;background-color: #797979;
}

.my_agent_head_img img{
    max-height: 100%;max-width: 100%;
}

.my_agent_person{
    margin-left: 140px;margin-right: 61px;
}

.my_agent_person h1{
    font-size: 36px;color: #CA5430;font-weight: bold;margin-top: 20px;margin-bottom: 30px;
}

.my_agent_person p{
    font-size: 24px;color: #6F6F6F;
}

.my_agent_info{
    display: flex;color: #fff;font-size: 32px;line-height: 51px;
}

.flex_1{
    flex: 1;
}

.mt40{
    margin-top: 40px;
}

.add_agent{
    margin-top: 15px;box-sizing: border-box;line-height: 80px;float: right;color: #D66737;font-size: 72px;text-align: center;width: 80px;height: 80px;border-radius: 50%;border: 5px solid #FDBE3B;
}

.new_store{
    height: 45px;font-size: 36px;color: #D15829;line-height: 45px;margin-top: 10px;margin-bottom: 30px;
}

.new_store_mark{
    font-size: 32px;float: right;border: 1px solid #D15829;border-radius: 5px;width: 105px;height: 45px;text-align: center;box-sizing: border-box;
}


.inputStyle{
    border: 2px solid #CCCCCC;
    height: 70px;
    border-radius: 10px;
    width: 100%;
    font-size: 32px;
    padding: 0 10px;
    box-sizing: border-box;
}

.data_item{
    margin: 50px 40px 0;line-height: 65px;
}

.ml155{
    margin-left: 155px;
}

.mt100{
    margin-top: 100px;
}

.get_money_totle{
    padding: 30px 40px;
    box-sizing: border-box;
    margin-top: -1px;
    font-size: 36px;
    color: #FDBE3B;
}

.get_money_p{
    color: #6F6F6F;
    font-size: 24px;
    margin: 20px 40px 0;
}

.select_bank{
    width: 24px;
    height: 24px;
}

.get_money_item{
    margin: 30px 40px 0;
}

.get_money_input{
    border: 2px solid #C4C4C4;
    border-radius: 10px;
    height: 65px;
    font-size: 28px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.white36{
    color: #fff;
    font-size: 36px;
}

.get_phone_val{
    margin-right: 220px;
}

.get_money_tip{
    font-size: 36px;
    font-weight: bold;
    width: 480px;
    margin: 40px auto;
    color: #6F6F6F;
    line-height: 48px;
}

.user_index_btn{
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);background-color: #FDBE3B;float: right;width: 214px;height: 106px;border-radius: 15px;font-size: 32px;color: #fff;line-height: 106px;text-align: center;
}

.stockout{
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);background-color: #C4C4C4;float: right;width: 214px;height: 106px;border-radius: 15px;font-size: 32px;color: #fff;line-height: 106px;text-align: center;
}

.color_gray{
    color: #9B9B9B;
}

.mr284{
    margin-right: 284px;
}

.user_index_edit_box{
    margin: 0 30px 20px;padding-bottom: 30px;border-bottom: 4px solid #e3e3e3;
}

.edit_totle{
    display: flex;line-height: 51px;margin-top: 30px;
}


